.year-picker__wrapper {
  margin-right: 1rem;
}

@media screen and (max-width: 767px) {
  .year-picker__wrapper {
    margin: 1rem 0;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__input-container >input {
    width: 100%;
  }
}


.filter-label {
  color: black;
}