body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(27, 30, 35);
}

body >div {
  font-size: 0.875rem;
}

body >h4 {
  font-size: 0.875rem;
}

@media screen and (max-width: 767px) {
  body >div {
    font-size: 0.75rem;
  }

  body >h4 {
    font-size: 1rem;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
